<div style="text-align: center">

  <app-navigation-header></app-navigation-header>
  <app-navigation-menu></app-navigation-menu>

  <form *ngIf="formGroup != null" (ngSubmit)="submit()" [formGroup]="formGroup">
    <mat-card>
      <mat-card-title class="query-card-title"> Query Unit Status </mat-card-title>
      <mat-card-content class="query-card-style">
        <table style="width: 100%">
          <colgroup>
            <col width="50%" />
            <col width="50%" />
          </colgroup>

          <tr class="header">
            <td colspan="2">
              Search By Date
            </td>
          </tr>
          <tr>
            <td>
              <app-form-date-range></app-form-date-range>
            </td>
            <td>
              <app-form-date-offset></app-form-date-offset>
            </td>
          </tr>

          <tr class="header">
            <td>
              Search by Unit Maintenance Number
            </td>
            <td>
              Search by Unit (Radio ID)
            </td>
          </tr>
          <tr>
            <td>
              <app-form-maintenance-number></app-form-maintenance-number>
            </td>
            <td>
              <app-form-unit></app-form-unit>
            </td>
          </tr>

          <tr class="header">
            <td>
              Search by Location
            </td>
            <td>
              Search by Personnel ID
            </td>
          </tr>
          <tr>
            <td>
              <app-form-location></app-form-location>
            </td>
            <td>
              <app-form-personnel-id></app-form-personnel-id>
            </td>
          </tr>

          <tr class="header">
            <td>
              Set Row Count
            </td>
            <td>
              Set Status
            </td>
          </tr>
          <tr>
            <td>
              <app-form-max-results></app-form-max-results>
            </td>
            <td>
              <app-form-status></app-form-status>
            </td>
          </tr>
        </table>

      </mat-card-content>
      <!-- moved to style to Custom Themes -->
      <mat-card-actions>
        <div>
          <!-- Theme set in Custom themes.scss  -->
          <button type="submit" mat-raised-button>Query</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
