<div class="form-inspection-compliance">
    <mat-label>Inspection Compliance By</mat-label>
    <mat-checkbox [id]="'Session.OS.PM.QBEOccupancy.InspectionComplianceCalendarYear'"
                [disableRipple]="true"
                [formControlName]="'calendarYear'">
    Calendar Year
  </mat-checkbox>
    <mat-checkbox [id]="'Session.OS.PM.QBEOccupancy.InspectionComplianceFiscalYear'"
                  [disableRipple]="true"
                  [formControlName]="'fiscalYear'">
      Fiscal Year
    </mat-checkbox>

</div>
