<div class="form-call-frequency">
  <mat-label></mat-label>
  <mat-checkbox [id]="'Session.OS.IM.QBEIncidentsSummary.CallFrequencyStation'"
                [disableRipple]="true"
                [formControlName]="'callFrequencyStation'" >
    Call Frequency By Station
  </mat-checkbox>
  <mat-checkbox [id]="'Session.OS.IM.QBEIncidentsSummary.CallFrequencyCity'"
                [disableRipple]="true"
                [formControlName]="'callFrequencyCity'" >
    Call Frequency by City
  </mat-checkbox>
  <mat-checkbox [id]="'Session.OS.IM.QBEIncidentsSummary.CallFrequencyHour'"
                [disableRipple]="true"
                [formControlName]="'callFrequencyHour'" >
    Call Frequency by Hour
  </mat-checkbox>
  <mat-checkbox [id]="'Session.OS.IM.QBEIncidentsSummary.CallFrequencyMonth'"
                [disableRipple]="true"
                [formControlName]="'callFrequencyMonth'" >
    Call Frequency by Month
  </mat-checkbox>
</div>
