<div style="text-align: center">

  <app-navigation-header></app-navigation-header>
  <app-navigation-menu></app-navigation-menu>


  <mat-card>
    <mat-card-title class="query-card-title">List Users</mat-card-title>
    <mat-card-content style="margin-top: 10px;">
      <div class="list-container">
        <mat-table #table [dataSource]="dataSource">

          <!-- User ID Column -->
          <ng-container cdkColumnDef="userID">
            <mat-header-cell *cdkHeaderCellDef>User ID</mat-header-cell>
            <mat-cell *cdkCellDef="let row"><span class="detailLink" (click)="showIncidentDetail(row.id)">{{row.userID}}</span></mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container cdkColumnDef="name">
            <mat-header-cell *cdkHeaderCellDef>Name</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.name}}</mat-cell>
          </ng-container>

          <!-- Group Column -->
          <ng-container cdkColumnDef="group">
            <mat-header-cell *cdkHeaderCellDef>Group</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.group}}</mat-cell>
          </ng-container>

          <!-- Reset Password (Onetime) Column -->
          <ng-container cdkColumnDef="resetPassword">
            <mat-header-cell *cdkHeaderCellDef>Reset Password (Onetime)</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.resetPassword}}</mat-cell>
          </ng-container>

          <!-- Delete Column -->
          <ng-container cdkColumnDef="delete">
            <mat-header-cell *cdkHeaderCellDef>Delete</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.delete}}</mat-cell>
          </ng-container>


          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row class="aos-query-row" *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

        <!-- need to revisit the button and <form> below; pages render but error with #Paginator  -->
        <mat-paginator #paginator
                       [length]="incidentQueryDatabase.data.length"
                       [pageIndex]="0"
                       [pageSize]="10"
                       [pageSizeOptions]="[10, 25, 50, 100]">
        </mat-paginator>
        <hr style="clear:both">

        <!-- Added Button along the bottom of page -->
        <form (ngSubmit)="submit(buttonType)" [formGroup]="formGroup">
          <mat-card-actions style="margin-bottom: 15px;">
            <div>
              <button type="submit" mat-raised-button (click)= "submit('Query')">Save</button>
              <button type="submit" mat-raised-button (click)= "submit('Add')">Add</button>
            </div>

          </mat-card-actions>
        </form>
      </div>
    </mat-card-content>
    <hr style="clear:both">
  </mat-card>

</div>
