<div style="text-align:center">

  <app-navigation-header></app-navigation-header>
  <app-navigation-menu></app-navigation-menu>

  <form *ngIf="formGroup != null" (ngSubmit)="submit()" [formGroup]="formGroup">
    <mat-card>
      <mat-card-title class="query-card-title">Query Pre-Incident Surveys</mat-card-title>
      <mat-card-content class="query-card-style">
        <table style="width: 100%">
          <colgroup>
            <col width="50%" />
            <col width="50%" />
          </colgroup>

          <tr class="header">
            <td colspan="2">
              <h3>Search By Date</h3>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <app-form-year></app-form-year>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <app-form-date-range></app-form-date-range>
            </td>
          </tr>

          <tr class="header">
            <td>
              <h3>Search by Unit, Station</h3>
            </td>
            <td>
              <h3>Search by Shift</h3>
            </td>
          </tr>
          <tr>
            <td>
              <app-form-unit></app-form-unit>
            </td>
            <td>
              <app-form-shift></app-form-shift>
            </td>
          </tr>
          <tr>
            <td>
              <app-form-station></app-form-station>
            </td>
          </tr>

          <tr class="header">
            <td>
              <h3>Search By Preplan</h3>
            </td>
            <td>
              <h3>Search by Preplan Stage</h3>
            </td>
          </tr>
          <tr>
            <td>
              <app-form-preplan-number></app-form-preplan-number>
            </td>
            <td>
              <app-form-preplan-stage></app-form-preplan-stage>
            </td>
          </tr>
        </table>
      </mat-card-content>
      <!-- moved to style to Custom Themes -->
      <mat-card-actions>
        <div>
          <!-- Theme set in Custom themes.scss  -->
          <button type="submit" mat-raised-button>Query</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>

</div>
