<div style="text-align: center">

  <app-navigation-header></app-navigation-header>
  <app-navigation-menu></app-navigation-menu>

  <mat-card>
    <mat-card-title class="query-card-title">Hydrants</mat-card-title>
    <mat-card-content style="margin-top: 10px;">
      <div class="list-container">
        <mat-table #table [dataSource]="dataSource">

          <!-- Duplicate Column -->
          <ng-container cdkColumnDef="duplicate">
            <mat-header-cell *cdkHeaderCellDef>Duplicate</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.duplicate}}</mat-cell>
          </ng-container>

          <!-- Hydrant # Column -->
          <ng-container cdkColumnDef="hydrantNumber">
            <mat-header-cell *cdkHeaderCellDef>Hydrant #</mat-header-cell>
            <mat-cell *cdkCellDef="let row"><span class="detailLink" (click)="showIncidentDetail(row.id)">{{row.hydrantNumber}}</span></mat-cell>
          </ng-container>

          <!-- Hydrant Number Column -->
          <ng-container cdkColumnDef="hydrant">
            <mat-header-cell *cdkHeaderCellDef>Hydrant #</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.hydrant}}</mat-cell>
          </ng-container>

          <!-- Station Column -->
          <ng-container cdkColumnDef="station">
            <mat-header-cell *cdkHeaderCellDef>Station</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.station}}</mat-cell>
          </ng-container>

          <!-- Map Page Column -->
          <ng-container cdkColumnDef="mapPage">
            <mat-header-cell *cdkHeaderCellDef>Map Page</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.mapPage}}</mat-cell>
          </ng-container>

          <!-- City Column -->
          <ng-container cdkColumnDef="city">
            <mat-header-cell *cdkHeaderCellDef>City</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.city}}</mat-cell>
          </ng-container>

          <!-- Group Column -->
          <ng-container cdkColumnDef="group">
            <mat-header-cell *cdkHeaderCellDef>Group</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.group}}</mat-cell>
          </ng-container>

          <!-- Inspection Cycle Column -->
          <ng-container cdkColumnDef="inspectionCycle">
            <mat-header-cell *cdkHeaderCellDef>Inspection Cycle</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.inspectionCycle}}</mat-cell>
          </ng-container>

          <!-- Delete Column -->
          <ng-container cdkColumnDef="delete">
            <mat-header-cell *cdkHeaderCellDef>Delete</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.delete}}</mat-cell>
          </ng-container>

          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row class="aos-query-row" *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <!-- need to revisit the button and <form> below; pages render but error with #Paginator  -->
        <mat-paginator #paginator
                       [length]="incidentQueryDatabase.data.length"
                       [pageIndex]="0"
                       [pageSize]="10"
                       [pageSizeOptions]="[10, 25, 50, 100]">
        </mat-paginator>
        <hr style="clear:both">

        <!-- Added Button along the bottom of page -->
        <form (ngSubmit)="submit(buttonType)" [formGroup]="formGroup">
          <mat-card-actions style="margin-bottom: 15px;">
            <div>
              <button type="submit" mat-raised-button (click)= "submit('Query')">Query</button>
              <button type="submit" mat-raised-button (click)= "submit('Add')">Add</button>
            </div>
          </mat-card-actions>
        </form>
      </div>
    </mat-card-content>
    <hr style="clear:both">
  </mat-card>
</div>
