<div class="form-summary-includes">

    <mat-label>Summary Includes</mat-label>
    <mat-checkbox [id]="'Session.OS.PM.QBEOccupancy.Permit'"
                  [disableRipple]="true"
                  [formControlName]="'permit'">
      Permit
    </mat-checkbox>
    <mat-checkbox [id]="'Session.OS.PM.QBEOccupancy.Inspection'"
                  [disableRipple]="true"
                  [formControlName]="'inspection'">
      Inspection
    </mat-checkbox>
    <mat-checkbox [id]="'Session.OS.PM.QBEOccupancy.Project'"
                  [disableRipple]="true"
                  [formControlName]="'project'">
      Project
    </mat-checkbox>
    <mat-checkbox [id]="'Session.OS.PM.QBEOccupancy.PlanReview'"
                  [disableRipple]="true"
                  [formControlName]="'planReview'">
      Plan Review
    </mat-checkbox>
    <mat-checkbox [id]="'Session.OS.PM.QBEOccupancy.Invoice'"
                  [disableRipple]="true"
                  [formControlName]="'invoice'">
      Invoice
    </mat-checkbox>


</div>
