
<div style="text-align: center">

  <app-navigation-header></app-navigation-header>
  <app-navigation-menu></app-navigation-menu>

  <mat-card>
    <mat-card-title class="query-card-title">Training Calendar</mat-card-title>
    <mat-card-content style="margin-top: 10px;">
      <div class="list-container">
        <mat-table #table [dataSource]="dataSource">

          <!-- Duplicate Column -->
          <ng-container cdkColumnDef="duplicate">
            <mat-header-cell *cdkHeaderCellDef>Duplicate</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.duplicate}}</mat-cell>
          </ng-container>

          <!-- Status Column -->
          <ng-container cdkColumnDef="status">
            <mat-header-cell *cdkHeaderCellDef>Status</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.status}}</mat-cell>
          </ng-container>

          <!-- Date Column -->
          <ng-container cdkColumnDef="date">
            <mat-header-cell *cdkHeaderCellDef>Date</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.date}}</mat-cell>
          </ng-container>

          <!-- Shift Column -->
          <ng-container cdkColumnDef="shift">
            <mat-header-cell *cdkHeaderCellDef>Shift</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.shift}}</mat-cell>
          </ng-container>

          <!-- Drill Column -->
          <ng-container cdkColumnDef="drill">
            <mat-header-cell *cdkHeaderCellDef>Drill</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.drill}}</mat-cell>
          </ng-container>

          <!-- Location Column -->
          <ng-container cdkColumnDef="location">
            <mat-header-cell *cdkHeaderCellDef>Location</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.location}}</mat-cell>
          </ng-container>

          <!--Delete Column -->
          <ng-container cdkColumnDef="delete">
            <mat-header-cell *cdkHeaderCellDef>Delete</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.delete}}</mat-cell>
          </ng-container>

          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row class="aos-query-row" *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator
                       [length]="incidentQueryDatabase.data.length"
                       [pageIndex]="0"
                       [pageSize]="10"
                       [pageSizeOptions]="[10, 25, 50, 100]">
        </mat-paginator>
        <hr style="clear:both">

        <!-- Added Button along the bottom of page -->
        <mat-card-actions style="margin-bottom: 15px;">
          <div style="width: 20%; float:left">
            <button type="button" mat-raised-button>Return</button>
          </div>
          <div style="width:20%; float:left">
            <button type="button" mat-raised-button>Previous</button>
          </div>
          <div style="width: 20%; float:left">
            <button type="button" mat-raised-button>Next</button>
          </div>
          <div style="width: 20%; float:left">
            <button type="button" mat-raised-button>Save</button>
          </div>
          <div style="width: 20%; float:left">
            <button type="button" mat-raised-button>Add</button>
          </div>


        </mat-card-actions>
      </div>
    </mat-card-content>
    <hr style="clear:both">
  </mat-card>
</div>
