<div style="text-align: center">

  <app-navigation-header></app-navigation-header>
  <app-navigation-menu></app-navigation-menu>

  <mat-card>
    <mat-card-title class="query-card-title">List Agency Units</mat-card-title>
    <mat-card-content style="margin-top: 10px;">
      <div class="list-container">
        <mat-table #table [dataSource]="dataSource">

          <!-- List Agency Units Column -->
          <ng-container cdkColumnDef="unitID">
            <mat-header-cell *cdkHeaderCellDef>Unit ID</mat-header-cell>
            <mat-cell *cdkCellDef="let row"><span class="detailLink" (click)="showIncidentDetail(row.id)">{{row.unitID}}</span></mat-cell>
          </ng-container>

          <!-- Unit Type Column -->
          <ng-container cdkColumnDef="unitType">
            <mat-header-cell *cdkHeaderCellDef>Unit Type</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.unitType}}</mat-cell>
          </ng-container>

          <!-- Unit Uses Column -->
          <ng-container cdkColumnDef="unitUse">
            <mat-header-cell *cdkHeaderCellDef>Unit Use</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.unitUse}}</mat-cell>
          </ng-container>

          <!-- Auto Narrative Column -->
          <ng-container cdkColumnDef="autoNarrative">
            <mat-header-cell *cdkHeaderCellDef>Auto Narrative</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.autoNarrative}}</mat-cell>
          </ng-container>

          <!-- Non-Agency Unit Column -->
          <ng-container cdkColumnDef="nonAgencyUnit">
            <mat-header-cell *cdkHeaderCellDef>Non-Agency Unit</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.nonAgencyUnit}}</mat-cell>
          </ng-container>

          <!-- Non-Reporting Unit Column -->
          <ng-container cdkColumnDef="nonReportingUnit">
            <mat-header-cell *cdkHeaderCellDef>Non-Reporting Unit</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.nonReportingUnit}}</mat-cell>
          </ng-container>

          <!-- Delete Column -->
          <ng-container cdkColumnDef="delete">
            <mat-header-cell *cdkHeaderCellDef>Delete</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{row.delete}}</mat-cell>
          </ng-container>

          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row class="aos-query-row" *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

        <!-- need to revisit the button and <form> below; pages render but error with #Paginator  -->
        <mat-paginator #paginator
                       [length]="incidentQueryDatabase.data.length"
                       [pageIndex]="0"
                       [pageSize]="10"
                       [pageSizeOptions]="[10, 25, 50, 100]">
        </mat-paginator>
        <hr style="clear:both">

        <!-- Added Button along the bottom of page -->
        <form (ngSubmit)="submit(buttonType)" [formGroup]="formGroup">
          <mat-card-actions style="margin-bottom: 15px;">
            <div>
              <button type="submit" mat-raised-button (click)= "submit('Query')">Save</button>
              <button type="submit" mat-raised-button (click)= "submit('Add')">Add</button>
            </div>

          </mat-card-actions>
        </form>
      </div>
    </mat-card-content>
    <hr style="clear:both">
  </mat-card>
</div>
