<div>
  <app-navigation-header></app-navigation-header>
  <app-navigation-menu></app-navigation-menu>

  <div *ngIf="formElementContext; else spinnerView">
    <form [formGroup]="formElementContext.formGroup" class="appForm">
      <app-hazmat-report-toolbar [formGroup]="formElementContext.formGroup"></app-hazmat-report-toolbar>
      <app-dynamic-form-element *ngIf="formElementContext" [formElement]="formElementContext.formElements[0]" [formElementContext]="formElementContext"></app-dynamic-form-element>
   </form>
</div>

<ng-template #spinnerView>
<div class="progressBar">
  <mat-spinner></mat-spinner>
</div>
</ng-template>

</div>
