<div style="text-align: center">

  <app-navigation-header></app-navigation-header>
  <app-navigation-menu></app-navigation-menu>

  <form *ngIf="formGroup != null" (ngSubmit)="submit(buttonType)" [formGroup]="formGroup">
    <mat-card>
      <mat-card-title class="query-card-title">Query Agency Maintenance Units</mat-card-title>
      <mat-card-content class="query-card-style">
        <table style="width: 100%">
          <colgroup>
            <col width="50%" />
            <col width="50%" />
          </colgroup>

          <tr class="header">
            <td colspan="2">
              <h3>Search by Maintenance # (Begins With: 6 = 600 or 611, 55 = 550 or 551)</h3>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <app-form-maintenance-number></app-form-maintenance-number>
            </td>
          </tr>
        </table>
      </mat-card-content>

      <mat-card-actions>
        <div>
          <!-- Theme set in Custom themes.scss  -->
          <button type="submit" mat-raised-button (click)= "submit()">Query</button>
          <button type="submit" mat-raised-button (click)= "submitAdd()">Add</button>
        </div>

      </mat-card-actions>

    </mat-card>
  </form>
</div>
