<div style="text-align: center">

  <app-navigation-header></app-navigation-header>
  <app-navigation-menu></app-navigation-menu>

  <form (ngSubmit)="submit()" [formGroup]="formGroup">
    <mat-card>
      <mat-card-title class="query-card-title">Edit Agency Stations</mat-card-title>
      <mat-card-content style="margin-top: 10px; margin-bottom: 0px;">
        <div>
          <h3>Station Info</h3>
          <mat-form-field>
          <input matInput
                   placeholder="ID"
                   [id]="'Session.OS.AM.QBEAgencyStations.StationID'"
                   [formControlName]="'stationID'" />
          </mat-form-field>
          <mat-form-field>
            <input matInput
                   placeholder="Address"
                   [id]="'Session.OS.AM.QBEAgencyStations.Address'"
                   [formControlName]="'address'" />
          </mat-form-field>
          <mat-form-field>
            <input matInput
                   placeholder="City"
                   [id]="'Session.OS.AM.QBEAgencyStations.City'"
                   [formControlName]="'city'" />
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="State"
                        [id]="'Session.OS.AM.QBEAgencyStations.State'"
                        [formControlName]="'state'" >
              <mat-option *ngFor="let state of ['AK', 'AL', 'AZ']" [value]="state">{{state}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput
                   placeholder="Zip Code"
                   [id]="'Session.OS.AM.QBEAgencyStations.ZipCode'"
                   [formControlName]="'zipCode'" />
          </mat-form-field>
        </div>
        <hr style="clear:both">
        <div>
          <h3>Station Contact</h3>
          <mat-form-field>
            <input matInput
                   placeholder="Phone"
                   [id]="'Session.OS.AM.QBEAgencyStations.Phone'"
                   [formControlName]="'phone'" />
          </mat-form-field>
          <mat-form-field>
            <input matInput
                   placeholder="Fax"
                   [id]="'Session.OS.AM.QBEAgencyStations.Fax'"
                   [formControlName]="'fax'" />
          </mat-form-field>
          <mat-form-field>
            <input matInput
                   placeholder="Email"
                   [id]="'Session.OS.AM.QBEAgencyStations.Email'"
                   [formControlName]="'email'" />
          </mat-form-field>
        </div>
        <hr style="clear:both">
        <div>
          <h3>Station Contact</h3>
          <mat-form-field>
            <input matInput
                   placeholder="Name"
                   [id]="'Session.OS.AM.QBEAgencyStations.Name'"
                   [formControlName]="'name'" />
          </mat-form-field>
          <mat-form-field>
            <input matInput
                   placeholder="GPS Location"
                   [id]="'Session.OS.AM.QBEAgencyStations.Location'"
                   [formControlName]="'gpsLocation'" />
          </mat-form-field>
        </div>
        <hr style="clear:both">
      </mat-card-content>
      <mat-card-actions style="margin-bottom: 15px;">
        <div>
          <button type="submit" mat-raised-button>Save</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
